/*Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styles */
body {
    font-family: 'Roboto', sans-serif; /* Use the Google Font */
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f3f3f3;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e5a79; /* Example blue background color */
    padding: 1rem 2rem;
    color: white;
    font-family: 'Roboto', sans-serif; /* Apply the font */
}

.header-name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 60px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #2e5a79; /* Example header color */
    margin: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #2e5a79;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffcc00; /* Example hover color */
}

/* Navigation */
nav {
    background-color: #774936;
    /*brown */
}

#menu {
    display: none;
    flex-direction: column;
    text-align: center;
}

#menu li {
    list-style: none;
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

#menuToggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
}

#menuToggle, #darkModeToggle {
    padding: 0.5rem;
}

#menu.show {
    display: flex;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

picture img {
    width: 100%; /* Scale the image to fit its container */
    height: auto; /* Maintain the intrinsic aspect ratio */
    display: block; /* Avoid inline spacing issues */
}

.hero-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

/* Cards */
.card {
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body.dark-mode .card {
    background: #444;
    color: #f3f3f3;
}

/* google map iframe */
iframe {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #2e5a79;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 2rem;
}