@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#menuToggle {
    flex-direction: column;
    align-items: center;
    background-color: #774936;
    position: absolute;
    top: 60px;
    width: 100%;
}

#menu.show {
    display: flex; /* Show menu when active */
}


@media (min-width: 500px) {
    #menu {
        display: flex; /* Always show menu on larger screens */
        flex-direction: row;
        position: static;
    }
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f3f3f3;
}

header,
footer {
    background-color: #2e5a79;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header img {
    border-radius: 50%;
    width: 80px;
    height: auto;
}

header span {
    display: block;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#darkModeToggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: column; /* Vertical layout by default for mobile */
    align-items: center;
    background-color: #774936;
}

nav ul {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none; /* Remove bullets from list items */
    width: 100%; /* Full width for the links */
}

nav a {
    display: block;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    background-color: rgba(12, 12, 11, 0.2);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Light mode */
main {
    background-color: #f3f3f3;
    color: #333;
}

/* Dark mode */
main.dark-mode {
    background-color: #333;
    color: #f3f3f3;
}

main.dark-mode .card {
    background-color: #444; /* A slightly lighter shade than the main background */
    color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Adjust for visibility */
}

main.dark-mode .card h2 {
    background-color: #555; /* Match the dark mode theme */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.card h2 {
    background-color: #2e5a79;
    color: #fff;
    padding: 0.5rem;
    border-radius: 8px 8px 0 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    padding: 0.5rem 0;
}

footer p {
    margin: 0.5rem 0;
}

footer .icon {
    margin: 0 0.5rem;
}
