/* Larger Screens */
@media (min-width: 768px) {
    #menu {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        background: none;
    }

    #menuToggle {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .hero {
        grid-column: span 2;
    }
}